<!-- 
/**
 *  __          __  _    _____ _____  ______   _   _             _                
 *  \ \        / / | |  |_   _|  __ \|  ____| | \ | |           | |               
 *   \ \  /\  / /__| |__  | | | |  | | |__    |  \| | __ ___   _| |__   __ _ _ __ 
 *    \ \/  \/ / _ \ '_ \ | | | |  | |  __|   | . ` |/ _` \ \ / / '_ \ / _` | '__|
 *     \  /\  /  __/ |_) || |_| |__| | |____ _| |\  | (_| |\ V /| |_) | (_| | |   
 *      \/  \/ \___|_.__/_____|_____/|______(_)_| \_|\__,_| \_/ |_.__/ \__,_|_| 
 *                                                                            
 *  @author André Ferreira <andrehrf@gmail.com>
 *  @license MIT
 */
-->
<navbar class="wi-navbar">
    <% for(var key in itens) {%>
        <div class="wi-navbar-item">
            <div class="wi-navbar-label"><%%= __('<%= itens[key].display %>') %%></div>
            
            <div class="wi-navbar-sub1">
                <% for(var keySub1 in itens[key].itens) {%>
                <div class="wi-navbar-sub1-item <% if(itens[key].itens[keySub1].class){%><%= itens[key].itens[keySub1].class %><%}%>" 
                     <% if(itens[key].itens[keySub1].command){
                            var args = (itens[key].itens[keySub1].args) ? JSON.stringify(itens[key].itens[keySub1].args): "null";
                     %> 
                        onclick='webide.commands.call(this, "<%= itens[key].itens[keySub1].command %>", <%= args %>);'
                    <%}%>
                     <% if(itens[key].itens[keySub1].onclick){%> onclick="<%= itens[key].itens[keySub1].onclick %>"<%}%>>
                    <%%= __('<%= itens[key].itens[keySub1].display %>') %%>
                    <% if(itens[key].itens[keySub1].shortcut){ %><span class="wi-navbar-shortcut"><%- itens[key].itens[keySub1].shortcut %></span><% } %>
                    <% if(typeof itens[key].itens[keySub1].submenu == "object"){ %>
                        <div class="wi-navbar-submenu">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <div class="wi-navbar-submenu-menu">
                                <% for(var keySub2 in itens[key].itens[keySub1].submenu){%>
                                    <div class="wi-navbar-sub1-item <% if(itens[key].itens[keySub1].submenu[keySub2].class){%><%= itens[key].itens[keySub1].submenu[keySub2].class %><%}%>"
                                         <% 
                                            if(itens[key].itens[keySub1].submenu[keySub2].command){
                                                var args = (itens[key].itens[keySub1].submenu[keySub2].args) ? JSON.stringify(itens[key].itens[keySub1].submenu[keySub2].args): "null";
                                            %>
                                                onclick='webide.commands.call(this, "<%= itens[key].itens[keySub1].submenu[keySub2].command %>", <%= args %>);'
                                            <%}%>
                                         <% if(itens[key].itens[keySub1].submenu[keySub2].onclick){%> onclick="<%= itens[key].itens[keySub1].submenu[keySub2].onclick %>"<%}%>>
                                         <%%= __('<%= itens[key].itens[keySub1].submenu[keySub2].display %>') %%>
                                         <% if(itens[key].itens[keySub1].submenu[keySub2].shortcut){ %><span class="wi-navbar-shortcut"><%- itens[key].itens[keySub1].submenu[keySub2].shortcut %></span><% } %>
                                    </div>
                                    <% if(itens[key].itens[keySub1].submenu[keySub2].divide){ %><div class="wi-navbar-divide"></div><% } %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <% if(itens[key].itens[keySub1].divide){ %><div class="wi-navbar-divide"></div><% } %>
                <% } %>
            </div>
        </div>
    <% } %>
    
    <!--<div class="wi-navbar-right">        
        <% for(var keyWidget in widgets) {%>
            <div class="wi-navbar-right-user wi-navbar-item" title="<%= widgets[keyWidget].id %>">
                <%- widgets[keyWidget].tpl %>
            </div>
        <% } %>
    </div>-->
</navbar>